section.blogs.py-5 
  .container 
    .row 
      .col-12
        h2.display-5 Featured Reads 
        hr
        .row 
          .col-lg-4.mb-2
            .zoom
              img.shadow-sm.mb-2(src="/img/hero3.jpg", alt="")
            p.fs-5.mt-3 
              a.blog-link(href="") Blog Title 1
          .col-lg-4.mb-2
            .zoom
              img.shadow-sm.mb-2(src="/img/hero3.jpg", alt="")
            p.fs-5.mt-3 
              a.blog-link(href="") Blog Title 2
          .col-lg-4.mb-2
            .zoom
              img.shadow-sm.mb-2(src="/img/hero3.jpg", alt="")
            p.fs-5.mt-3 
              a.blog-link(href="") Blog Title 3
  .container.px-5 
    .row.d-flex.align-items-center
      h2.display-6.text-center Latest Blogs
      hr 
      .col-lg-3.mb-2
        img.img-fluid.img-thumbnail.shadow-sm.mb-2(src="/img/hero3.jpg", alt="")
      .col-lg-9.mb-2
        p.fs-5 
          a.blog-link(href="") Blog Title 1
        p.lead.text-truncate Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate asperiores veniam ab voluptate cumque temporibus! Maxime quasi laborum atque fugit illum porro dicta? Quis amet ducimus porro a alias repudiandae?
      .col-lg-3.mb-2
        img.img-fluid.img-thumbnail.shadow-sm.mb-2(src="/img/hero3.jpg", alt="")
      .col-lg-9.mb-2
        p.fs-5 
          a.blog-link(href="") Blog Title 1
        p.lead.text-truncate Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate asperiores veniam ab voluptate cumque temporibus! Maxime quasi laborum atque fugit illum porro dicta? Quis amet ducimus porro a alias repudiandae?

