.toast-message {
  font-size: 2vh;
  letter-spacing: 0.3px;
}

.navbar-brand {
  svg {
    color: steelblue;
  }
}

.nav-image {
  max-height: 3rem;
  max-width: 3rem;
  border-radius: 50%;
}

.no-arrow::after {
  content: none;
}

.notification-box {
  width: 325px;
  margin-top: 10px !important;
}

.notification-alert {
  height: 8px;
  width: 8px;
  position: absolute;
  left: 60%;
  top: 20% !important;

  &:empty {
    display: block !important;
  }
}

.nav-link {
  position: relative;
  transition: all 0.3s ease-in;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 95%;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #198754;
    transition: all 0.3s ease-in;
  }

  &:hover::after {
    width: 100%;
    left: 0;
  }
}
